@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'), url('../../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Thin.woff2') format('woff2'), url('../../fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'), url('../../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'), url('../../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'), url('../../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



*, *::after, *::before {
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*    background-image: url(../../reliq/test3UW.png);   SET IN CODE IF RELICDEBUGMODE IS ENABLED */
    background-position: center;
    position: relative;
    margin: 0px;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
}

html {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 16px;
}

.content {
    position: absolute;
}

.staticRightColumn {
    background-color: #0d0d0d52;
    height: 100%;
    right: 0px;
    /* position: absolute; */
    position: relative;
    border-left: 1px solid #ffffff96;
    overflow: hidden;
}

main {
    background-color: var(--color-bg-1);
    border-radius: 20px;
    box-shadow: 0 0 4px 0px #ffffff73;
    margin: 15px;
    bottom: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
    display: flex;
    border: 2px solid #ffffff33;
}

.relic {
    display: grid;
    flex-direction: column;
    flex-grow: 1;
    width: 100px;
    max-width: 25%;
    height: 100%;
    /* border: 2px solid #ffffffd4; */
    background-color: var(--color-card);
    color: var(--color-text);
    align-items: center;
    justify-content: space-between;
    border-radius: 15px;
    padding: 6px 6px;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    grid-template-rows: 1.05fr 0.77fr 0.8fr 1.5fr;
    grid-template-columns: 1fr 1fr;
    overflow: hidden;
}

.relicHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 80%; */
    padding-bottom: 0.7%;
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    padding: 7px;
    gap: 0.5%;
}

.relicPart {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    flex-grow: 1;
}

.relicItemOwnershipInfo {
    grid-row: 3;
    display: flex;
    flex-direction: row;
    grid-column: 1 / span 2;
    width: 80%;
    place-items: center;
    margin: 0 auto;
}

    .relicItemOwnershipInfo > *:first-child {
        border-radius: 13px 0 0 13px;
        flex: 5;
        white-space: nowrap;
    }

    .relicItemOwnershipInfo > *:last-child {
        border-radius: 0 13px 13px 0;
        flex: 2;
    }

.relicItemName {
    font-size: 18px;
    text-align: center;
    line-height: 7vh;
    grid-row: 1;
    grid-column: 1/3;
    padding: 0px 4px;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    /* height: 100%; */
}

.relicItemUnlocked {
    text-align-last: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ffffff2e; */
    width: max-content;
    place-self: center;
    height: 58%;
    padding: 4px 9px 4px 4px;
    background-color: #477d477d;
    /* box-shadow: 0 0 5px 0px #94da9fab; */
    grid-column: 1/3;
    font-size: 16px;
}

.relicItemLocked {
    text-align-last: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ffffff6b; */
    width: max-content;
    place-self: center;
    height: 58%;
    padding: 2px 9px 3px 3px;
    background-color: #9661bd6e;
    /* box-shadow: 0 0 5px 0px #9fa5f1c9; */
    padding: 4px 10px;
    grid-column: 1/3;
    font-size: 16px;
}


.relicItemUnlockedCount {
    text-align-last: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #ffffff6b; */
    width: max-content;
    place-self: center;
    /* height: 45%; */
    padding: 2px 9px 3px 3px;
    background-color: #00000047;
    /* box-shadow: 0 0 6px 0px #abababab; */
    padding: 4px 8px;
    grid-column: 2;
    grid-column: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    font-size: 16px;
}



.relicItemUnlockedIcon {
    width: 22px;
    height: 22px;
    background-image: url('../../img/tick.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 7px;
}

.relicItemPrices {
    display: flex;
    justify-content: space-around;
    width: 100%;
    grid-row: 2;
    grid-column: 1/3;
    align-items: center;
}

.relicItemPricePlatinum {
    display: flex;
    align-items: center;
    font-weight: 400;
    margin-left: 4px;
    font-size: 19px;
}

.relicItemPricePlatinumIcon {
    width: 28px;
    height: 28px;
    background-image: url('../../img/platinum.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 3px;
}

.relicItemPriceDucats {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 19px;
    margin-right: 4px;
}

.relicItemPriceDucatsIcon {
    width: 30px;
    height: 30px;
    background-image: url(../../img/ducats.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 3px;
}

.relicBottomAlecaframe {
    height: 16%;
    width: 100%;
    background-color: var(--color-bg-2);
    padding-top: 0px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    font-size: 29px;
    font-weight: 600;
    display: grid;
    color: var(--color-text);
    grid-template-columns: 0.7fr 1fr 0.155fr 0.155fr;
    border-radius: 0px 0px 0px 8px;
    overflow: hidden;
    gap: 3px;
}

.mainAD {
    width: 400px;
    height: 300px;
    min-width: 400px;
    min-height: 300px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 1;
}


.foundryObjectComponents {
    grid-row: 4;
    grid-column: 1/3;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

    .foundryObjectComponents > .components {
        /* position: absolute; */
        /* right: 0px; */
        /* bottom: 1px; */
        border-bottom: none;
        border-right: none;
        border-radius: 0px 0px 0px 0px;
        display: flex;
        justify-content: space-around;
        width: min-content;
        justify-self: center;
        /* border-radius: 5px; */
        /* overflow: hidden; */
        gap: 4px;
        max-width: 100%;
    }

.foundryObjectComponentsComponent {
    width: min(1.92rem, 42px);
    height: min(1.92rem, 42px);
    background-color: #ffffff26;
    background-size: 106%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    /* border: 1px solid #0000004a; */
    border-bottom: none;
    border-right: none;
    border-top: none;
    border-radius: 25px;
}

    .foundryObjectComponentsComponent:first-child {
        border-left: none;
    }

    .foundryObjectComponentsComponent:last-child {
        border-right: none;
    }

    .foundryObjectComponentsComponent.gotNeccessaryComponents {
        box-shadow: inset 0px 0px 4px 1px #a7f98d7a;
        background-color: #316330b5;
    }

    .foundryObjectComponentsComponent.componentHighlight {
        box-shadow: inset 0px 0px 4px 2px #dccb00;
        /* background-color: #b1b15278; */
        /* border: 3px solid #22479ad6; */
        box-sizing: border-box;
    }

.foundryObjectComponents > .setPrice {
    position: relative;
    display: flex;
    justify-content: center;
    font-size: 17px;
    align-items: center;
}

    .foundryObjectComponents > .setPrice::before {
        position: absolute;
        content: " ";
        border: 2px solid #FFFFFF47;
        border-top: none;
        width: 100%;
        top: -13px;
        left: 0;
        height: 6px;
    }

    .foundryObjectComponents > .setPrice::after {
        position: absolute;
        content: " ";
        border-top: none;
        width: 2px;
        background-color: #FFFFFF47;
        top: -7px;
        left: 50%;
        transform: translateX(-50%);
        height: 4px;
    }

.relicItemSetPricePlatinumIcon {
    width: 7vh;
    height: 7vh;
    background-image: url('../../img/platinum.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 3px;
}





.foundryObjectComponentsComponentCount {
    background: #000000ba;
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    bottom: 0px;
    right: 0px;
    padding: 2px 4px;
    border-radius: 5px;
    border-bottom: none;
    color: white;
}


.relicBottomAlecaFrameIcon {
    width: 44px;
    height: 100%;
    -webkit-mask-image: url(../../img/alecaframe.png);
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    background-color: var(--color-icons-bg);
}

.relicBottomAlecaFrameTitle {
    grid-column: 1;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    gap: 5px;
}




.relicItemPricePlatinumBOTTOM {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: 400;
    grid-column: 3;
    place-self: flex-end;
    align-self: center;
    font-size: 18px;
}

.relicItemPricePlatinumIconBOTTOM {
    width: 1.3rem;
    height: 1.3rem;
    background-image: url('../../img/platinum.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 6px;
}

.relicItemPriceDucatsBOTTOM {
    display: flex;
    align-items: center;
    font-weight: 400;
    grid-column: 4;
    place-self: flex-end;
    align-self: center;
    margin-left: 8px;
    font-size: 18px;
}

.relicItemPriceDucatsIconBOTTOM {
    width: 1.3rem;
    height: 1.3rem;
    background-image: url(../../img/ducats.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 6px;
}

.relicBottomOpenCloseMessage {
    grid-column: 2;
    font-size: 1rem;
    align-self: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.relicBottomOpenCloseMessageInner {
    overflow: hidden;
    padding: 4px 12px;
    background-color: var(--color-bg-2);
    font-weight: 400;
    border-radius: 21px;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-size: 18px;
}

.adBackground {
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
    background-image: url(../../img/alecaframe.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
}

.adBackgroundInner {
    height: min-content;
    padding: 29px;
}


.relicBottomAlecaFrameTitleVersion {
    margin-left: 10px;
    color: #879dec;
}

.relicMaxPrice {
    box-shadow: inset 0px 0px 4px 2px #d4e1ffc7;
    background-color: var(--color-card-active);
}

.inventoryBuySellTabOverlayLoading {
    background: #1c1f2038;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url('../../img/loading.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60px;
}


.inventoryBuySellTabOverlayError {
    background: #1c1f2014;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background-image: url('../../img/error.png');
    background-position: center 40%;
    background-repeat: no-repeat;
    background-size: 60px;
    display: flex;
    justify-content: center;
    z-index: 1;
    padding: 31px;
}

    .inventoryBuySellTabOverlayError div {
        align-self: center;
        margin-top: 8%;
        font-size: 22px;
        font-weight: 300;
        color: white;
        text-align: center;
    }



.itemIsVaulted {
    text-align-last: center;
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 2px 9px 3px 3px;
    background-color: #7581bd6e;
    padding: 0px 7px;
    grid-row: 5;
}

.itemIsVaultedIcon {
    width: 22px;
    height: 22px;
    -webkit-mask-image: url('../../img/vaulted.png');
    -webkit-mask-size: 149%;
    background-color: var(--color-icons);
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center 64%;
}

.platSetHolder {
    font-size: 1.1vw;
    margin-left: 2px;
}

.staticRightColumn {
    min-width: 400px;
    min-height: 300px;
    /* flex-grow: 1; */
}


.relicPLannerMiniRewardParentOwned.fav.foundry {
    top: -3px;
}

.relicPLannerMiniRewardParentOwned.fav {
    background-image: url(../../img/star2.png);
    right: -2px;
    top: 17px;
    left: auto;
    background-color: #000000bd;
    border-radius: 10px;
    background-size: 81%;
    border: 1px solid #ffffff6b;
}

.relicPLannerMiniRewardParentOwned {
    width: 49%;
    height: 49%;
    /* background-color: green; */
    position: absolute;
    background-image: url(../../img/tick.png);
    bottom: 4px;
    left: 1px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

    .relicPLannerMiniRewardParentOwned.fav.foundry.big {
        width: 27px;
        height: 27px;
        position: unset;
        border: unset;
        background-color: unset;
        margin-bottom: 2px;
    }
