.statsTopBar {
    display: flex;
    background-color: var(--color-bg-1);
    border-radius: 20px 20px 0px 0px;
    align-items: center;
    gap: 10px;
    padding: 2px 0px;
    padding: 7px;
    grid-column: 1/3;
    flex-wrap: wrap;
}

    .statsTopBar > .foundryPlayerMoney {
        column-gap: 12px;
        row-gap: 0px;
        width: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-shrink: 1;
    }

    .statsTopBar > div > div > .topBarPlayerStatisRightTop {
        font-size: 20px;
    }

    .statsTopBar > div > #foundryUnlocksStats {
        width: 48px;
        height: 48px;
        flex-shrink: 0;
    }

.statsBarSeparator {
    margin: auto;
}

.statsCreateLink {
    background-color: var(--color-tab);
    padding: 4px 10px;
    font-weight: 300;
    font-size: 15px;
    border-radius: 20px;
    display: flex;
    gap: 4px;
    align-items: center;
    transition: 0.12s linear;
    cursor: pointer;
    margin-right: 0px;
}

    .statsCreateLink:hover {
        background-color: var(--color-tab-hover);
    }

.statsCreateLinkIcon {
    width: 18px;
    height: 18px;
    -webkit-mask-image: url('../../img/share.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: 86%;
    -webkit-mask-position: center;
    background-color: white;
}


.statsVueHolder {
    display: grid;
    grid-template-columns: 3fr 357px;
    grid-template-rows: min-content auto;
    flex-grow: 1;
    height: 200px;
    column-gap: 13px;
    position: relative;
}

.statsFilterTypeHolder {
    display: flex;
    justify-content: space-around;
}

.statsTrades {
    background-color: var(--color-bg-2);
    margin-top: 8px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 11px 11px;
    overflow: hidden;
    position: relative;
    width: 357px;
    flex-shrink: 0;
}

.topSetting.statsFilter {
    /* flex-grow: 1; */
    width: auto;
    max-width: initial;
}

.statsTradeHistoryTitle {
    font-size: 17px;
    font-weight: 400;
    margin-left: 6px;
}

.tab.stats {
    background: radial-gradient(circle at 17% 0%,var(--color-bg-2), var(--color-bg-1)) 209% 49%;
    border-radius: 20px;
    padding: 8px;
}

.topSetting.stats {
    max-width: initial;
    width: auto;
    height: 32px;
    min-width: auto;
    padding-right: 10px;
}

.statsFilterSearchHolder {
    gap: 9px;
    display: flex;
}

.topSetting2.inventorySetting.stats {
    width: auto;
    max-width: initial;
}

.statsContainer {
    flex-grow: 1;
    /* background-color: var(--color-bg-1); */
    border-radius: 15px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-right: 8px;
}


.statsTopBar > div > div > .foundryPlayerPercentUnlocked {
    font-size: 15px;
}

.statsBarRightOW {
    flex-shrink: 0;
    margin-left: auto;
    display: flex;
    gap: 10px;
}

.statsTopBar > .foundryPlayerLevelAndMoney {
    height: auto;
}

.statsTopBar > .alecaframeNameTop {
    min-width: 103px;
}

.statsLeftContent {
    background: radial-gradient(circle at 7% 29%,var(--color-bg-1), var(--color-bg-2)) 209% 49%;
    margin-top: 8px;
    gap: 10px;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px 10px;
    overflow: hidden;
    position: relative;
}

.publicLinkOptionsHolder {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    flex-wrap: wrap;
    width: 257px;
    place-items: end;
    gap: 5px;
}

    .publicLinkOptionsHolder > .timerNotificationGroup {
        font-weight: 300;
        font-size: 14px;
    }

div#sharePublicLinkTemplate {
    padding: 4px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.tradeItemsHolder {
    display: flex;
    gap: 7px;
}

.tradeItems {
    display: flex;
    gap: 6px;
    align-items: center;
    grid-row: 3;
    grid-column: 1/4;
    overflow-x: auto;
    padding-bottom: 5px;
    border-radius: 13px;
}

.tradeItemsSeparator {
    -webkit-mask-image: url('../../img/trade.png');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
    background-color: var(--color-icons);
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    transform: rotate(135deg);
    margin-left: 2px;
}

.tradeItem {
    display: grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 1fr 1fr;
    row-gap: 3px;
    border-radius: 20px;
    background-color: var(--color-bg-1);
    padding: 7px 12px;
    padding-bottom: 5px;
}

.tradeTs {
    grid-row: 2;
    grid-column: 1/3;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 3px;
}

.tradeUsername {
    font-weight: 400;
    font-size: 17px;
}

.tradeAction {
    text-align: right;
    padding: 4px 8px;
    grid-row: 1/3;
    align-self: center;
    border-radius: 26px;
    margin-top: -6px;
    font-weight: 400;
}

    .tradeAction.sale {
        background-color: var(--color-sell);
    }

    .tradeAction.purchase {
        background-color: var(--color-buy);
    }

    .tradeAction.trade {
        background-color: var(--color-tab);
    }

.tradeItems::-webkit-scrollbar {
    height: 4px;
}

.tradeItems::-webkit-scrollbar-track {
    margin: 0px 4px;
}

.stats > .topSettingIcon.all {
    margin-right: 0px;
    margin-left: 1px;
}

.statsTitle {
    font-weight: 400;
    font-size: 18px;
    margin-left: 10px;
}

.relicPlannerShowMore.stats {
    font-size: 15px;
}

.statsChartTop {
    display: flex;
    position: absolute;
    top: 10px;
    margin: 0px 16px;
    justify-content: space-between;
    align-items: center;
    right: 0px;
    left: 0px;
    pointer-events: none;
    margin-right: 10px;
}

.statsChartBottomOverlay {
    display: flex;
    gap: 6px;
    align-items: center;
    font-size: 15px;
    background-color: var(--color-bg-1);
    padding: 4px 10px;
    border-radius: 10px 0px 15px 0px;
    box-shadow: -1px -1px 2px #ffffff47;
    border-bottom: none;
    border-right: none;
}

.statsChart {
    padding: 10px 13px;
    border-radius: 20px;
    background-color: var(--color-bg-2);
    display: flex;
    flex-direction: column;
    width: min(max(40%, 300px),500px);
    flex-grow: 1;
    height: 254px;
    padding-top: 6px;
    position: relative;
}

.statsChartTopLeft {
    display: flex;
    align-items: center;
    gap: 6px;
    font-weight: 400;
}

.statsChartIcon.platinum {
    background-image: url('../../img/platinum.png');
}

.statsChartIcon.ducats {
    background-image: url('../../img/ducats.png');
}

.statsChartIcon.endo {
    background-image: url('../../img/endo.png');
    background-size: 144%;
    background-position: 44% center;
}

.statsChartIcon.credits {
    background-image: url('../../img/credits.png');
}


.statsChartIcon.relic {
    background-image: url('../../img/axi-intact.png');
}


.statsChartIcon.time {
    background-image: none;
}


.statsChartIcon {
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 1px;
}

.statsChartTopRight > span {
    font-size: 14px;
    font-weight: 300;
}

.statsChartTopRight > select {
    padding: 1px 3px;
    cursor: pointer;
}

.statsChartChart {
}

.statsChartContainer {
    /* position: relative; */
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
}

.statsChartsTop {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    bottom: 9px;
    right: 9px;
    z-index: 1;
}

.statsChartBottom {
    display: flex;
    grid-template-rows: 40% 40%;
    grid-template-columns: min(50%,250px) 50%;
    gap: 10px;
    height: 100%;
    flex-wrap: wrap;
    overflow-x: hidden;
    align-items: center;
    align-content: flex-start;
}

.statsBarRightWEB {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    font-size: 14px;
    font-weight: 300;
}

.statsDownloadAF {
    color: var(--color-text);
    width: auto;
    background-color: var(--color-tab);
    border-radius: 18px;
    padding: 9px 11px;
    display: flex;
    gap: 6px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
    transition: 0.12s linear;
    text-decoration: none;
}

    .statsDownloadAF:hover {
        background-color: var(--color-tab-hover);
    }

.statsDownloadIcon {
    -webkit-mask-image: url('../../img/download.png');
    -webkit-mask-size: contain;
    width: 16px;
    height: 16px;
    -webkit-mask-repeat: no-repeat;
    background-color: var(--color-icons);
    -webkit-mask-position: center;
}

.statsChart.expanded {
    position: absolute;
    z-index: 1;
    width: 88%;
    height: 55%;
    left: 6%;
    top: 23%;
}

.statsChartIconTheme.expand {
    -webkit-mask-image: url('../../img/expand.png');
    -webkit-mask-size: 85%;
    cursor: pointer;
    pointer-events: all;
}

    .statsChartIconTheme.expand.expanded {
        -webkit-mask-image: url(../../img/minimize.png);
    }


.statsChartIconTheme {
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    background-color: var(--color-icons);
    width: 18px;
    height: 18px;
}


.statsGreyOverlay {
    position: absolute;
    background-color: #000000e8;
    border-radius: 15px 10px 15px 15px;
    top: 10px;
    left: 9px;
    bottom: 9px;
    right: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 400;
    text-align: center;
}

.statsChartTopRight:hover {
    background-color: var(--color-card-hover);
}

.statsChartTopRight {
    padding: 4px;
    border-radius: 8px;
}

.inventoryNoItemShownSmall > a {
    color: #81b3ff;
    font-weight: 400;
    cursor: pointer;
}

.statsCreateLink.dataExport {
    background-color: var(--color-card);
}

    .statsCreateLink.dataExport:hover {
        background-color: var(--color-card-hover);
    }

.statsCreateLinkIcon.dataExport {
    -webkit-mask-image: url(../../img/download.png);
}

.statsExportButtonsHolder {
    display: flex;
    gap: 9px;
}

div#exportDataTemplate {
    gap: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6px;
}

.statsAPIThingsHolder {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-weight: 300;
    margin-top: 11px;
}

button.buttonSettingsTest.exportData {
    background-color: var(--color-card-hover);
}

    button.buttonSettingsTest.exportData:hover {
        background-color: var(--color-card-active);
    }

button.buttonSettingsTest.copyAPIToken {
}

.statsIconClose {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 10px;
    top: 13px;
    -webkit-mask-image: url(../../img/arrow-small.png);
    -webkit-mask-size: contain;
    background-color: var(--color-icons);
    cursor: pointer;
    z-index: 3;
}

.statsBottomContainer {
    grid-column: 1/3;
    display: flex;
    overflow: hidden;
    gap: 10px;
}

.statsIconOpenHolder {
    position: absolute;
    right: 5px;
    top: 5px;
    border-bottom: var(--color-bg-1) solid 3px;
    cursor: pointer;
    padding: 3px 0px;
    border-radius: 4px;
    background-color: var(--color-card-active);
}

.statsIconCloseIcon {
    -webkit-mask-image: url('../../img/arrow-small.png');
    -webkit-mask-size: contain;
    background-color: var(--color-icons);
    width: 15px;
    height: 15px;
    transform: rotate(180deg);
}

.statsChartIcon.aya {
    background-image: url(../../img/aya.webp);
}

.statsButtonRow {
    display: flex;
    gap: 10px;
}