.wfmItem {
    display: flex;
    flex-direction: column;
    /* width: 370px; */
    /* min-width: 368px; */
    height: 107px;
    overflow: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 4px;
    /* border: 1px solid #4c5e91; */
    margin-top: 0px;
    margin-bottom: 7px;
    border-radius: 20px;
}


.foundryObjectContainer.wfmItems {
    flex-wrap: wrap;
    padding: 2px;
    /* gap: 10px; */
    overflow: scroll;
    height: 100%;
    overflow-x: hidden;
    grid-template-columns: repeat(auto-fill, minmax(370px, 1fr));
    border: none;
}

.wfmItemLeft {
    width: 70px;
    background-size: 63%;
    background-repeat: no-repeat;
    background-position: center 7px;
    position: relative;
    background-color: var(--color-bg-1);
}

.wfmItemRight {
    display: grid;
    flex-direction: column;
    flex-grow: 1;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* margin-top: 5px; */
    /* margin-bottom: 3px; */
    font-weight: 400;
    font-size: 16px;
}

.wfmItemTop {
    display: flex;
    height: 28px;
    background: var(--color-card-active);
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0px 7px;
}

.wfmItemBottom {
    display: flex;
    height: 78px;
    background-color: var(--color-card);
    transition: 0.1s linear;
    padding-right: 9px;
}

    .wfmItemBottom.contract {
        background-color: #392743;
    }

.wfmItemButton {
    width: 28px;
    height: 28px;
    border: 1px solid #ffffffb8;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 74%;
    cursor: pointer;
    transition: 0.12s linear;
    border-radius: 6px;
}

    .wfmItemButton.showMore {
        margin-right: 3px;
        background-image: url('../../img/search.png');
        background-size: 63%;
        background-color: #273a6d;
    }

        .wfmItemButton.showMore:hover {
            background-color: #374e89;
        }

.wfmItemName {
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    /* max-width: 190px; */
    margin: 0px 5px;
    display: flex;
}

.wfmItemOwned {
    font-size: 14px;
    font-weight: 300;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.wfmItemOwnedWarning {
    width: 37px;
    margin-right: -7px;
    height: 28px;
    background-color: #9a3737;
    /* border: 2px solid #ffffffd1; */
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    padding-top: 4px;
    padding-right: 4px;
    cursor: pointer;
    transition: 0.15s linear;
}

.wfmItemLeftText {
    position: absolute;
    bottom: 5px;
    left: 50%;
    font-weight: 400;
    padding: 3px 7px;
    background: #000000bf;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    transform: translate(-50%,0);
}



    .wfmItemLeftText.contract.auction {
        font-size: 13px;
    }

.wfmItemLowestPrice {
    grid-column: 1/3;
    display: flex;
    justify-self: center;
    align-self: center;
    gap: 4px;
    align-items: center;
    margin-bottom: 3px;
}

.wfmItemButtons {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 3px;
    margin-right: 11px;
    grid-column: 3;
    grid-row: 2;
    margin-bottom: 3px;
}

.wfmItemBottomPlat {
    display: flex;
    justify-self: center;
    align-self: center;
    gap: 6px;
    margin-top: 1px;
    align-items: center;
}

.wfmItemBottomAmount {
    gap: 5px;
    justify-self: center;
    align-self: center;
    display: flex;
    align-items: center;
    margin-top: 1px;
}

.wfmItemBottomExtra {
    justify-self: center;
    align-self: center;
    text-transform: capitalize;
    margin-top: 1px;
}


.wfmItemButton.visibility {
    background-image: url(../../img/eyeLine.png);
    background-color: var(--color-bg-3);
    background-position: 9px center;
    border: none;
    background-size: 54%;
    margin-left: -7px;
    width: 37px;
    border-radius: 0;
}

    .wfmItemButton.visibility:hover {
        background-color: var(--color-card-hover);
    }

    .wfmItemButton.visibility.public {
        background-image: url(../../img/eye.png);
    }


.wfmItemButton.remove {
    background-image: url(../../img/delete.png);
    background-color: #672f2f;
}

    .wfmItemButton.remove:hover {
        background-color: #864040;
    }

.wfmItemButton.markSold {
    background-image: url(../../img/tick.png);
    background-color: #134613;
}

    .wfmItemButton.markSold:hover {
        background-color: #1b611b;
    }

.wfmItemButton.addOne {
    background-image: url(../../img/plus.png);
    background-color: #1f4063;
    background-size: 159%;
}

    .wfmItemButton.addOne:hover {
        background-color: #27588c;
    }


.wfmItemButton.edit {
    background-image: url(../../img/pencil.png);
    position: relative;
}

    .wfmItemButton.edit:hover {
        background-color: #2a2a2a;
    }

.wfmItemButton.link {
    background-image: url(../../img/link.png);
    position: relative;
    background-color: #2c2c6b;
}

.wfmItemLowestPrice > span {
    font-weight: 300;
    font-size: 15px;
}


.hidden-flex-item.wfmarket {
    flex: 1 0 370px;
}

.inventoryItemSellPlatIcon.amount {
    background-image: url(../../img/sugar-cubes.png);
    width: 20px;
    height: 20px;
    margin-left: 0px;
    margin-right: -5px;
}

.wfmItemOwnedText {
    margin-right: 7px;
}

.wfmItemBottom.private {
    filter: brightness(0.6);
}

.relativeContainer {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    padding: 1px;
}

input.wfmItemInput {
    width: 50px;
    padding: 1px 2px 1px 4px;
    line-height: 18px;
}

.wfmEditConfirm {
    background-image: url('../../img/tick.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 13px;
    height: 13px;
    bottom: 2px;
    right: 2px;
}

.wfmItemButton.edit.editing {
    background-color: #371b8b;
}

.wfmActionsImg {
    /* background-color: red; */
    width: 20px;
    height: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

    .wfmActionsImg.visible {
        background-image: url('../../img/eye.png');
    }

    .wfmActionsImg.fix {
        background-image: url('../../img/wrench.png');
        background-size: 83%;
        background-position: center 1px;
    }

    .wfmActionsImg.invisible {
        background-image: url(../../img/eyeLine.png);
    }

    .wfmActionsImg.remove {
        background-image: url('../../img/delete.png');
    }

.wfmRivenStats {
    grid-row: 1/3;
    grid-column: 1/3;
    align-items: center;
    text-align: center;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wfmItemBottomAmount.contract {
    justify-self: end;
    margin-right: 12px;
}

.tabHeaderLogOutWFM {
    padding: 5px 12px;
    height: 29px;
    background-color: #7d4040;
    font-weight: 500;
    cursor: pointer;
    font-size: 15px;
    border-radius: 15px;
    transition: 0.12s linear;
    position: absolute;
    right: 5px;
    top: 4px;
}

    .tabHeaderLogOutWFM:hover {
        background-color: #914d4d;
    }

.wfmLoginOverlay {
    top: 4px;
    left: 4px;
    height: calc(100% - 8px);
    width: calc(100% - 8px);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #000000e0;
    border-radius: 15px;
}

.inventoryBuySellTabOverlayLoading.hidden {
    display: none;
}

.wfmLoginOverlay.hidden {
    display: none;
}

.wfmSummaryBold {
    font-weight: 400;
    margin-left: 3px;
}

div#proAnalyticsTab {
    position: relative;
    padding: 0px;
    gap: 11px;
    overflow-y: hidden;
}

#proAnalyticsTab > .themesSupporterOnly {
    top: 0px;
    left: 1px;
    right: 0px;
    bottom: 0px;
    border-radius: 9px;
    gap: 18px;
}

.tabHeaderIcon.proanalytics {
    -webkit-mask-image: url(../../img/analytics.png);
}

.proAnalyticsTitle {
    font-weight: 400;
    font-size: 18px;
    padding-left: 4px;
}

.proAnalyticsSection {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.proAnalyticsContent {
    background-color: var(--color-bg-1);
    padding: 6px;
    border-radius: 10px;
    font-size: 15px;
    overflow: hidden;
}

.proAnalyticsBestTradingContainer {
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow: auto;
    max-height: 215px;
    min-height: 215px;
    padding: 3px;
    padding-top: 5px;
    background-color: var(--color-bg-2);
    border-radius: 0px 0px 6px 6px;
    padding-left: 7px;
}

.proAnalyticsBestTradingItem {
    display: grid;
    gap: 10px;
    grid-template-columns: auto 110px 110px 125px;
    align-items: center;
    font-weight: 300;
    justify-items: center;
}

.proAnalyticsIcon {
    width: 28px;
    height: 27px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.proAnalyticsNameIconCombo {
    display: flex;
    align-items: center;
    gap: 8px;
    place-self: baseline;
    text-transform: capitalize;
}

.proAnalyticsBestTradingItem.header {
    font-weight: 500;
    padding: 5px 6px;
    background-color: var(--color-bg-3);
    border-radius: 6px 6px 0px 0px;
}

.proAnalyticsListWithPie {
    display: flex;
    flex-direction: revert;
    gap: 10px;
    overflow: hidden;
}

.proAnalyticsPie {
    width: 243px;
    flex-shrink: 0;
}

.proAnalyticsBestTradingItemPlat {
    font-weight: 400;
    display: flex;
    align-items: center;
}

.proAnalyticsBestTradingItem.header > span:first-of-type {
    place-self: baseline;
}


.proAnalyticsBestTradingItem.header > span {
    cursor: pointer;
    white-space: nowrap;
    position: relative;
}

    .proAnalyticsBestTradingItem.header > span.selected:before {
        content: "⬇";
        margin-right: 1px;
        position: absolute;
        left: -11px;
        top: -2px;
    }

    .proAnalyticsBestTradingItem.header > span:before {
        margin-right: 1px;
    }

.proAnalyticsList {
    flex-grow: 1;
}

.inventoryItemSellPlatIcon.proAnalytics {
    width: 18px;
    height: 18px;
}

.inventoryItemSellPlatIcon.amount.proAnalytics {
    margin-left: 6px;
}

.proAnalyticsDoubleList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

.proAnalyticsBestTradingItem.small {
    grid-template-columns: auto 110px 125px;
}

.proAnalyticsTableTitle {
    text-align: center;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: 400;
}

.proAnalyticsBestTradingItem.trades {
    grid-template-columns: auto 110px 110px 110px 110px 110px 110px;
}


.proAnalyticSmallThing {
    display: flex;
    align-items: center;
    font-weight: 300;
}

.proAnalyticSmallThingValue {
    font-weight: 400;
    margin-left: 4px;
}

.proAnalyticsSmallThings {
    display: flex;
    justify-content: space-around;
    padding: 4px;
    font-size: 16px;
}

.proAnalyticsBestTradingItemPlat.positive {
    color: #38b238;
}

.proAnalyticsBestTradingItemPlat.negative {
    color: #f35050;
}

.proAnalyticsIcon.Riven {
    background-image: url(../../img/rivenIcon2.png);
    background-size: 95%;
}

.proAnalyticsIcon.Set {
    background-image: url(../../img/set.png);
    background-size: 90%;
}

.proAnalyticsIcon.Arcane {
    background-image: url(../../img/arcane.png);
    background-size: 80%;
}

.proAnalyticsIcon.Mod {
    background-image: url(../../img/mods.png);
    background-size: 93%;
}

.proAnalyticsIcon.Prime {
    background-image: url(../../img/prime.png);
    background-size: 80%;
}

.proAnalyticsIcon.Relic {
    background-image: url(https://cdn.alecaframe.com/warframeData/img/axi-intact.png);
}

.proAnalyticsIcon.Other {
    background-image: url(../../img/question.png);
    background-size: 75%;
}

.proAnalyticsScrollingContainer {
    display: flex;
    flex-direction: column;
    gap: 14px;
    overflow-y: auto;
    padding: 8px;
}

.trades > .proAnalyticsNameIconCombo {
    padding: 2px 1px;
}
