html {
    width: 100%;
    height: 100%;
}

.content {
    width: 100%;
    height: 100%;
    background: unset;
}

main {
    width: 100%;
    height: 100%;
}

.mainGif {
    /* width: 85%; */
    height: 100%;
    background-image: url(../img/notification-animated.gif);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    display: flex;
    justify-content: right;
    align-items: center;
    box-sizing: border-box;
}


body {
    /* background: white; */
    background: none;
}

div#notiIcon {
    width: 72px;
    height: 46px;
    background-image: url('../img/alecaframe.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    margin-left: 2px;
    flex-shrink: 0;
    margin: 0px 7px;
    margin-bottom: 17px;
}

.divContentOverflower {
    margin: auto;
    width: 100px;
    height: 80px;
}

.divContentOverflower {
    width: 88%;
    height: 69%;
    position: relative;
    margin: auto;
    margin-bottom: 17px;
    /* background-color: red; */
    overflow: hidden;
}

div#divContentHolder {
    /* background-color: green; */
    height: 100%;
    position: absolute;
    right: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: 1s cubic-bezier(0.82, -0.01, 0.58, 0.86);
    transform: translate(100%, 0px);
    gap: 2px;
}

div#notiText {
    flex-grow: 1;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    max-height: 100%;
    font-size: 15px;
}

div#divContentHolder.shown {
    transform: none;
}

div#notiSource {
    position: absolute;
    bottom: -1px;
    left: 0px;
    width: 85px;
    text-align: center;
    font-size: 15px;
}
